 
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Confirm email</title>
	<style>
		* {
			background-color: thistle
		}

		p {
			margin: 100px auto;
			font-family: sans-serif;
			color: brown;
		}
	</style>
</head>
<body>
	<p>Адрес элетронной почты подтвержден ...</p>
</body>
</html>
