<!DOCTYPE html>

<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<title>Confirmation Error</title>
		<style>
			*{
				background-color: thistle
			}

			p
			{
				margin:100px auto;
				font-family:sans-serif;
				color: brown;
			}
		</style>
	</head>
	<body>
		<p>Во время подтвержления адреса электронной почты произошла непредвиденная ошибка.</p>
	</body>
</html>
